/* src/Styles.css */

.container-fluid {
  padding: 0;
}

.bg-dark {
  background-color: #04293c !important;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  font-size: 1rem;
  color: white !important;
  text-decoration: none !important;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #03506f;
}

.nav-link .bi {
  margin-right: 10px;
}

.fs-5 {
  font-size: 1.25rem;
}

.fw-bolder {
  font-weight: bolder;
}

.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  margin: 0;
}

.loginPage {
  background: linear-gradient(
    rgba(11, 11, 11, 0.5),
    rgba(10, 10, 10, 0.5)
  ),
  url('../../public/Images/26.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}

.collapsed {
  width: 60px;
  transition: width 0.3s ease;
}

.collapsed .nav-link {
  justify-content: center;
  padding-left: 10px;
}

.collapsed .nav-link .bi {
  margin-right: 0;
}

.collapsed .fs-5,
.collapsed .fw-bolder,
.collapsed .d-none,
.collapsed .d-sm-inline {
  display: none !important;
}

.sidebar-link {
  margin-bottom: 25px;
}

.sidebar-link.active {
  background-color: #007bff;
  color: white;
}

.table {
  width: calc(100% - 20px);
  max-width: 100%;
  margin: 20px auto;
  overflow-x: auto;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  color: #333;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #eaeaea;
}

.table th:last-child,
.table td:last-child {
  width: 100px;
}

.table td:last-child .btn {
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col-lg-2, .col-md-4, .col-sm-6 {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.mb-2, .mb-3 {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.employee_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

